.wrapper__slider {
	position: relative;
	grid-area: slider;
	justify-items: stretch;
	align-items: stretch;
}

.wrapper__slider figure {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: opacity 500ms ease;
	background-color: red;
}

.wrapper__slider figure:nth-child(1) {
	background: url(../images/desktop-image-hero-1.jpg) no-repeat center center /
		cover;
}

.wrapper__slider figure:nth-child(2) {
	background: url(../images/desktop-image-hero-2.jpg) no-repeat center center /
		cover;
}

.wrapper__slider figure:nth-child(3) {
	background: url(../images/desktop-image-hero-3.jpg) no-repeat center center /
		cover;
}

.wrapper__shop {
	position: relative;
	grid-area: shop;
	justify-items: stretch;
	align-items: stretch;
}

.wrapper__shop article {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding: 0 6.5vw;
}

.wrapper__image01 {
	grid-area: image01;
	justify-items: stretch;
	align-items: stretch;
	background: url(../images/image-about-dark.jpg) no-repeat center center /
		cover;
}

.wrapper__about {
	grid-area: about;
	justify-items: stretch;
	align-items: stretch;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	padding: 0 4vw;
}

.wrapper__image02 {
	grid-area: image02;
	justify-items: stretch;
	align-items: stretch;
	background: url(../images/image-about-light.jpg) no-repeat center center /
		cover;
}
